@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR';
}

html, body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


section.main {
	width: 100%;
	height: 100vh;
	padding : 30px;
}


div.wrap_table {
	width : 80%;
	margin: 10px auto;
	
}
div.btn_box {
	text-align: right;
	width: 90%;
}

div.btn_box .btn_insert {
	background-color: #20605B;
	color: white;
	padding: 5px 8px;
	border-radius: 3px;
	width: 10%;
	height : 30px;
	overflow: hidden;
	border: none ;
	display: inline-block;
	margin : 5px;
}


.btn_insert:hover {
	cursor: pointer;
	text-shadow: 1px 1px 1px black;
}

table.main_table {
	width: 100%;
	border-collapse: collapse;
	font-weight: lighter;
}

table.main_table tr.title {
	background-color: #eee;
	cursor: auto;
}

table.main_table tr {
	border-bottom: 1px solid #ddd;
}

table.main_table tr:hover {
	background-color: #E8F7F3;
	cursor: pointer;
}

table.main_table tr th {
	padding: 10px;
}